################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/csharp-roadmap-fundamentals/obj
/csharp-roadmap-fundamentals/.vs/csharp-roadmap-fundamentals.slnx
/01-types/obj
/01-types/bin/Debug/net10.0
/csharp-roadmap-fundamentals/bin/Debug/net10.0
